<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tippspiel</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- <error-page>
	   <error-code>404</error-code>
	   <location>/error.jsp</location>
    </error-page> -->
    
    <!--<error-page>
	   <exception-type>java.lang.Throwable</exception-type>
	   <location>/error.jsp</location>
    </error-page>-->
    
	<context-param>
		<param-name>datasource</param-name>
		<param-value>java:comp/env/tippdatasource</param-value>
	</context-param>
	
	<resource-ref>
	  <res-ref-name>tippdatasource</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	</resource-ref>
 	
	
	<servlet>
	    <servlet-name>jsp</servlet-name>
	    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
	    <init-param>
	        <param-name>development</param-name>
	        <param-value>true</param-value>
	    </init-param>
    </servlet>

	<filter>
		<filter-name>security</filter-name>
		<filter-class>de.fom.tippspiel.controller.SecurityFilter</filter-class>
	</filter>
	 <filter-mapping>
		<filter-name>security</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>security</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>de.fom.tippspiel.controller.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/j_security_check</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>de.fom.tippspiel.controller.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/j_register_user</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>change</servlet-name>
		<servlet-class>de.fom.tippspiel.controller.ChangeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>change</servlet-name>
		<url-pattern>/j_change_user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>groups</servlet-name>
		<servlet-class>de.fom.tippspiel.controller.GroupsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>groups</servlet-name>
		<url-pattern>/j_change_groups</url-pattern>
	</servlet-mapping>
	<servlet>
	

    <servlet-name>noteneintragen</servlet-name>
    <servlet-class>de.fom.tippspiel.controller.NotenEintragenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noteneintragen</servlet-name>
    <url-pattern>/j_noten_user</url-pattern>
  </servlet-mapping>
		 <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>de.fom.tippspiel.controller.DispatcherServlet</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>
